.Panel {
    font-size: 14px;
    width: 144px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--border);
    position: absolute;
    z-index: 1;
    background-color: var(--panel-background);
    background: linear-gradient(180deg, var(--panel-highlight) 0%, var(--panel-background) 20%);
}

.Panel .Title {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    user-select: none;
    cursor: move;
}

.Panel .Input {
    text-align: left;
}

.Panel .Output {
    text-align: right;
}

.Panel .Row {
    display: flex;
    flex-wrap: wrap;
}

.Panel .Item {
    line-height: var(--item-text-size);
    font-size: var(--item-text-size);
    flex-grow: 1;
    vertical-align: baseline;
    margin-bottom: 5px;
}

.Panel .Item input {
    width: 95%;
}

.Panel .InputEndpoint {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--border);
    border-radius: calc(0.5em);
    border: 1px solid var(--border);
    margin-left: -1.1em;
    margin-right: 0.3em;
}

.Panel .OutputEndpoint {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--border);
    border-radius: 0.5em;
    border: 1px solid var(--border);
    margin-right: -1.1em;
    margin-left: 0.3em;
}
  
.Panel .Connected {
    background-color: var(--connection);
    border: 1px solid var(--connection);
}
  
.Panel .Connected:hover {
    background-color: var(--connection-highlight);
    border: 1px solid var(--connection-highlight);
}

.Panel .InputEndpoint.Hovering,
.Panel .OutputEndpoint.Hovering,
.Panel .InputEndpoint.Connecting,
.Panel .OutputEndpoint.Connecting,
.Panel .InputEndpoint:not(.Connected):hover, 
.Panel .OutputEndpoint:not(.Connected):hover {
    background-color: var(--main-highlight);
    border: 1px solid var(--main-highlight);
}

.Panel.Selected {
    border: 2px solid var(--selection);
    background: linear-gradient(180deg, var(--selection-highlight) 0%, var(--selection-lowlight) 20%);
}

.Panel.Selected .InputEndpoint:not(.Connected),
.Panel.Selected .OutputEndpoint:not(.Connected) {
    border: 1px solid var(--selection);
    background-color: var(--selection);
}