:root {
    --panel-font-size: 12px;
    --panel-collar: 10px;
}

.Panel {
    box-sizing: border-box;
    font-size: var(--panel-font-size);
    padding: 5px;
    border-radius: 10px;
    border: 2px solid var(--border);
    position: absolute;
    z-index: 1;
    background-color: var(--panel-background);
    background: linear-gradient(180deg, var(--panel-highlight) 0%, var(--panel-background) 20%);
    user-select: none;
}

.Panel .Title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: calc(var(--panel-font-size));
    height: calc(var(--panel-font-size) - var(--panel-collar));
    padding-bottom: var(--panel-collar);
    width: 100%;
    text-align: center;
    user-select: none;
    cursor: move;
}

.Panel .Input {
    text-align: left;
}

.Panel .Output {
    text-align: right;
}

.Panel .Row {
    display: flex;
    flex-wrap: wrap;
}

.Panel .Item {
    line-height: var(--item-text-size);
    font-size: var(--item-text-size);
    flex-grow: 1;
    vertical-align: baseline;
    margin-bottom: 5px;
    cursor: default;
}

.Panel .InteractiveItem {
    line-height: var(--item-text-size);
    font-size: var(--item-text-size);
    flex-grow: 1;
    vertical-align: baseline;
    margin-bottom: 5px;
}

.Panel .InteractiveItem input:focus {
    background-color: ivory;
}

.Panel .InteractiveItem input {
    width: 95%;
}

.Panel button {
    width: 100%;
    border-radius: 5px;
    background-color: var(--panel-highlight);
    border: none;
    color: var(--main-highlight);
}

.Panel .InputEndpoint {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--border);
    border-radius: calc(0.5em);
    border: 1px solid var(--border);
    margin-left: -1.1em;
    margin-right: 0.3em;
    user-select: none;
}

.Panel .OutputEndpoint {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: var(--border);
    border-radius: 0.5em;
    border: 1px solid var(--border);
    margin-right: -1.1em;
    margin-left: 0.3em;
    user-select: none;
}

.Panel .Connected.Signal-Value,
.Panel .Multiconnect.Signal-Value {
    background-color: var(--connection-value);
    border: 1px solid var(--connection-value);
}

.Panel .Connected.Signal-Stream,
.Panel .Multiconnect.Signal-Stream {
    background-color: var(--connection-stream);
    border: 1px solid var(--connection-stream);
}

.Panel .Connected.Signal-Value:hover,
.Panel .Multiconnect.Signal-Value:hover {
    background-color: var(--connection-value-hl);
    border: 1px solid var(--connection-value-hl);
}

.Panel .Connected.Signal-Stream:hover,
.Panel .Multiconnect.Signal-Stream:hover {
    background-color: var(--connection-stream-hl);
    border: 1px solid var(--connection-stream-hl);
}

.Panel.Selected .InputEndpoint:not(.Connected):not(.Multiconnect):not(.Hovering):hover,
.Panel.Selected .OutputEndpoint:not(.Connected):not(.Multiconnect):not(.Hovering):hover
.Panel .InputEndpoint.Hovering,
.Panel .OutputEndpoint.Hovering,
.Panel .InputEndpoint.Connecting,
.Panel .OutputEndpoint.Connecting,
.Panel .InputEndpoint:not(.Connected):not(.Multiconnect):hover,
.Panel .OutputEndpoint:not(.Connected):not(.Multiconnect):hover {
    background-color: var(--main-highlight);
    border: 1px solid var(--main-highlight);
}

.Panel.Selected {
    border: 2px solid var(--selection);
    background: linear-gradient(180deg, var(--selection-highlight) 0%, var(--selection-lowlight) 20%);
}

.Panel.Selected .InputEndpoint:not(.Connected):not(.Multiconnect):not(.Hovering),
.Panel.Selected .OutputEndpoint:not(.Connected):not(.Multiconnect):not(.Hovering) {
    border: 1px solid var(--selection);
    background-color: var(--selection);
}

.Panel.Selected button {
    background-color: var(--selection-highlight);
}
