.ColorPicker input[type="color"] {
	appearance: none;
	border: none;
}

.ColorPicker input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

.ColorPicker input[type="color"]::-webkit-color-swatch {
	border: none;
}