button.PushButton {
    padding: 10px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--main-highlight);
    background-color: var(--blue-hl);
    border: none;
    border-radius: 4px;
    box-shadow: 0 5px var(--blue-ll);
    margin-bottom: 5px;
    width: 100%;
}

button.PushButton:hover {
    background-color: var(--blue);
}

button.PushButton:active {
    background-color: var(--blue);
    box-shadow: 0 3px var(--blue-ll);
    transform: translateY(2px);
}