:root {
    --toolbar-font-size: 12px;
}

.Toolbar {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 0px 5px 20px 5px var(--background);
}

.Toolbar .Menu {
    display: flex;
    flex-direction: row;
    padding-left: calc(var(--toolbar-font-size) * 2 / 4);
    padding-top: calc(var(--toolbar-font-size) / 4);
}

.Toolbar .Menu .Item {
    display: flex;
    align-items: center;
    height: calc(var(--toolbar-font-size) * 2);
    padding: 0 calc(var(--toolbar-font-size) * 2 / 4);
    margin-right: 1px;
    font-size: var(--toolbar-font-size);
    cursor: default;
    user-select: none;
}

.Toolbar .Primary {
    background-color: var(--background);
}

.Toolbar .Primary .Item {
}

.Toolbar .Primary .Item.Selected,
.Toolbar .Primary .Item:hover {
    color: var(--background);
    background-color: var(--medium-highlight);
}

.Toolbar .Secondary {
    color: var(--background);
    background-color: var(--medium-highlight);
    padding-bottom: calc(var(--toolbar-font-size) / 4);
}

.Toolbar .Secondary .Item {
}

.Toolbar .Secondary .Item:hover {
    color: var(--medium-highlight);
    background-color: var(--background);
}

.Toolbar .Secondary .Item.Active {
    color: var(--main-highlight);
    background-color: var(--border)
}

.Toolbar .Secondary .Item.Active:hover {
    background-color: black;
}

.Toolbar .Secondary .Submenu.Item.Selected {
    padding-bottom: 0px;
}

.Toolbar .Secondary .Submenu.Item.Selected,
.Toolbar .Secondary .Submenu.Item:hover {
    color: var(--main-highlight);
    background-color: var(--lowlight);
}

.Toolbar .Secondary .Submenu.Item.Selected .Chevron {
    display: inline-block;
    transition: transform 1s;
    transform: rotate(90deg);
}

.Toolbar .Tertiary {
    background-color: var(--lowlight);
    box-shadow: 0px 10px 10px -10px inset var(--background);
    height: calc(var(--toolbar-font-size) * 2.1);
    padding-bottom: calc(var(--toolbar-font-size) / 4);
    overflow: hidden;
    transition: height 0.3s;
}

.Toolbar .Tertiary.Hidden {
    height: 0px;
    padding: 0;
    margin: 0;
}

.Toolbar .Tertiary .Item:hover {
    color: var(--lowlight);
    background-color: var(--medium-highlight);
}
