.WorkArea {
    position: relative;
    overflow: hidden;
}

.Connector path.active {
    stroke-dasharray: 5,20;
    animation: dash 5s linear;
    animation-iteration-count: infinite;
}

.Connector path.active.paused {
    animation-play-state: paused;
}

@keyframes dash {
    to {
        stroke-dashoffset: -300;
    }
}