.WorkArea {
    position: relative;
    overflow: hidden;
}

.Connector path.active {
    stroke-dasharray: 5,20;
    animation: dash 5s linear;
    animation-iteration-count: infinite;
}

.Connector path.active.paused {
    animation-play-state: paused;
}

.Connector.Signal-Value {
    stroke: var(--connection-value);
}

.Arrow.Signal-Value {
    stroke: var(--connection-value);
    fill: var(--connection-value);
}

.Connector.Signal-Stream {
    stroke: var(--connection-stream);
}

.Arrow.Signal-Stream {
    stroke: var(--connection-stream);
    fill: var(--connection-stream);
}

@keyframes dash {
    to {
        stroke-dashoffset: -300;
    }
}