.Picker .Pointer {
    position: absolute;
    top: 1px;
    height: 12px;
    width: 12px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
}

.Picker .Line {
    position: absolute;
    top: 0px;
    height: 14px;
    width: 2px;
    border: 1px solid #fffa;
}

.Picker .Cross {
    position: absolute;
    top: 0px;
    height: 13px;
    width: 12px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

.Picker .Controls {
    width: 100%;
}

.Picker .Controls .Sliders {
    width: 100%;
}