.Toolbar .Secondary .IconItem {
    display: flex;
    align-items: center;
    width: calc(var(--toolbar-font-size) * 5 / 3);
    height: calc(var(--toolbar-font-size) * 2);
    text-align: left;
    margin-left: calc(var(--toolbar-font-size) / 2);
    padding: 0 calc(var(--toolbar-font-size) * 1 / 4);
}

.Toolbar .Secondary .IconItem svg {
}

.Toolbar .Secondary .IconItem.Disabled {
    color: var(--lowlight);
}

.Toolbar .Secondary .IconItem.Disabled:hover {
    color: var(--lowlight);
    background-color: var(--medium-highlight);
}

.Toolbar .Secondary .TextItem {
    display: flex;
    align-items: center;
    height: calc(var(--toolbar-font-size) * 2);
    padding: 0 calc(var(--toolbar-font-size) / 2);
}

.Toolbar .Secondary .TextItem input {
    font-size: calc(var(--toolbar-font-size));
    height: calc(var(--toolbar-font-size) * 2);
    padding: 0 1px;
    margin: 0;
    border: none;
    border-radius: 5px;
}