:root {
  --main-highlight: white;
  --medium-highlight: #babfca;
  --medium-lowlight: #9298a5;
  --lowlight: #686d79;
  --background: #262626;
  --border: #4d5256;
  --panel-background: #414549b2;
  --panel-highlight: #62676bb2;
  --selection: #e6912bb2;
  --selection-highlight: #e9a553b2;
  --selection-lowlight: #9c6521b2;
  --item-text-size: 12px;

  --blue: #007BC8;
  --green: #189172;
  --purple: #A474C1;
  --red: #CB725C;
  --gold: #ada257;

  --blue-hl: #3293cf;
  --green-hl: #42a58c;
  --purple-hl: #bf9fd3;
  --red-hl: #dd9685;
  --gold-hl: rgb(189, 178, 135);

  --blue-ll: #005d97;
  --green-ll: #046e54;
  --purple-ll: #874cac;
  --red-ll: #9c4732;
  --gold-ll: #796e2c;

  --connection: #ada257;
  --connection-highlight: #bdb287;

  --connection-value: #007BC8;
  --connection-value-hl: #3293cf;
  --connection-pulse: #CB725C;
  --connection-pulse-hl: #ca8776;
  --connection-stream: #189172;
  --connection-stream-hl: #42a58c;
}

body {
  color: var(--main-highlight);
  background-color: var(--background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
