:root {
  --main-highlight: white;
  --medium-highlight: #babfca;
  --background: #262626;
  --border: #4D5256;
  --item-text-size: 12px;
}

body {
  background-color: var(--background);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App-header {
  min-height: 100vh;
  color: white;
}
