:root {
    --main-highlight: white;
    --medium-highlight: #babfca;
    --medium-lowlight: #9298a5;
    --lowlight: #686d79;
    --background: #262626;
    --border: #4d5256;
    --panel-background: #414549b2;
    --panel-highlight: #62676bb2;
    --selection: #e6912bb2;
    --selection-highlight: #e9a553b2;
    --selection-lowlight: #9c6521b2;
    --item-text-size: 12px;

    --blue: #007BC8;
    --green: #189172;
    --purple: #A474C1;
    --red: #CB725C;
    --yellow: #9A9C3D;
    --gold: #ADA257;

    --blue-hl: #63a8d3;
    --green-hl: #42a58c;
    --purple-hl: #bf9fd3;
    --red-hl: #dd9685;
    --yellow-hl: #B8BA47;
    --gold-hl: #BDB287;

    --blue-ll: #005d97;
    --green-ll: #046e54;
    --purple-ll: #874cac;
    --red-ll: #9C4732;
    --yellow-ll: #898B36;
    --gold-ll: #796E2C;

    --connection: #ada257;
    --connection-highlight: #bdb287;

    --connection-value: var(--blue);
    --connection-value-hl: var(--blue-hl);
    --connection-pulse: var(--red);
    --connection-pulse-hl: var(--red-hl);
    --connection-stream: var(--green);
    --connection-stream-hl: var(--green-hl);
    /* FUNCTION ARE JUST A VALUE SIGNAL WITH A DIFFERENT TYPE
    --connection-function: var(--yellow);
    --connection-function-hl: var(--yellow-hl); */
  }