:root {
    --combo-box-font-size: 12px;
}

.ComboBox.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .3);
    z-index: 5;
}

.ComboBox .Content {
    font-size: var(--combo-box-font-size);
    position: absolute;
    padding: 0.2em 0;
    margin: 0;
    z-index: 3;
    min-width: 150px;

    background-color: var(--medium-highlight);
    color: var(--background);
    border: 1px solid var(--border);
    border-radius: 3px;

    box-sizing: border-box;
    cursor: default;
    user-select: none;
}

.ComboBox .Content .EmptySearch {
    margin: 4px 8px;
    padding: 0px;
    color: var(--background);
}

.ComboBox .Content .Search {
    margin: 2px 4px 8px;
}

.ComboBox .Content ul.Results {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    max-height: 15em;
    overflow-y: auto;
}

.ComboBox .Content ul.Results li.Item {
    margin: 0.2em 0;
    padding: 0.4em;
}

.ComboBox .Content ul.Results li.Item:hover {
    background-color: var(--medium-lowlight);
    color: var(--background);
}

.ComboBox .Content ul.Results li.Item .Icon {
    display: inline-block;
    margin: 0;
    width: 1em;
}

.ComboBox .Content ul.Results li.Item .Label {
    margin: 0 0 0 0.75em ;
}


.ComboBox ::-webkit-scrollbar {
    width: 3px;
}

.ComboBox ::-webkit-scrollbar-track {
    background: transparent;
}

.ComboBox ::-webkit-scrollbar-thumb {
    background: #888;
}

.ComboBox ::-webkit-scrollbar-thumb:hover {
    background: #555;
}